<div>Subcategory indexes : {{this.currentCategoryId}}</div>
{{#if this.show}}
    <div class='subcategory-bar__wrapper {{settings.plugin_outlet}}'>
        <div class='subcategory-bar__container'>
            <div class='subcategory-bar__index'>
                <div>
                    ทั้งหมด
                </div>
                {{#each this.letterIndexes as |letter|}}
                    <div class="index-link">
                        {{letter}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{else}}
    <div>
        Not display
    </div>
{{/if}}