<div class='subcategory-bar__wrapper {{settings.plugin_outlet}}'>
    <div class='subcategory-bar__container'>
        <div class='subcategory-bar__index'>
            <div>
                ทั้งหมด
            </div>
            <div>
                A
            </div>
            <div>
                B
            </div>
        </div>
        <div class='subcategory-bar__button'>
            <a id="subcategory-bar__button_text" {{on 'click' this.handleClick}}>
                Subscribe
                {{#if this.isMobile}}
                    
                {{else}}
                    
                {{/if}}
            </a>
            
        </div>

    </div>
</div>